body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.topbar {
    margin: 15px;
    height: 30px;
}

.topright img {
    width: 20px;
    height: 20px;
}

.topleft {
    float: left;
    font-size: 13px;
}

.topright {
    float: right;
    font-size: 13px;
}

.topbar a {
    display: inline-block;
    top: 10px;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.topbar a:hover {
    text-decoration: underline;
}

.me a {
    color: #fff;
}

.me a:hover {
    text-decoration: none;
}

.acct-bubble {
    position: relative;
    height: 31px;
    width: 31px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #8A2BE2;
    border-radius: 100%;
}

.notifs, .apps {
    position: relative;
    top: -4px;
}

.search {
    display: block;
    width: 600px;
    margin: 10px auto;
    text-align: center;
    clear: both;
    margin-top: 150px;
}

.glogo {
    display: block;
    margin: 200px auto 0 auto;
}

.searchbar {
    margin-top: 30px;
}

.searchbar input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.searchbar input:hover, .searchbar input:active {
    border-color: #999;
}

.buttons {
    margin-top: 30px;
}

.buttons input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0 3px;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #777;
    background-color: #eee;
    border: 1px solid #eee;
}

.buttons input:hover {
    border-color: #777;
    color: #444;
}

.ling {
    margin-top: 40px;
}

.ling p {
    font-size: 12px;
}

.ling p a {
    text-decoration: none;
    margin-left: 4px;
    color: blue;
}

.ling p a:hover {
    text-decoration: underline;
}
